.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
.idea/*
*.iml
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
keystore/*
gradlew
gradlew.bat
gradle.properties
app/crashlytics.properties
app/src/main/assets/crashlytics-build.properties
app/src/main/res/values/com_crashlytics_export_strings.xml